{% extends "base.html.j2" %}
{% block content %}
  <div class="fr-stepper fr-mt-4v">
    <h2 class="fr-stepper__title">
      Sélection des fiches à adapter
      <span class="fr-stepper__state">Étape 2 sur 4</span>
    </h2>
    <div class="fr-stepper__steps" data-fr-current-step="2" data-fr-steps="4"></div>
    <p class="fr-stepper__details">
      <span class="fr-text--bold">Étape suivante :</span> Transformation des fiches
    </p>
  </div>
  <form hx-validate="true" method="post" action="{{ url_for("transform") }}">
    {# TODO: add info about current connected catalog #}
    <fieldset class="fr-fieldset" id="filters">
      <legend class="fr-fieldset__legend">
        Filtres (geonetwork {{version}}.x)
      </legend>
      <!-- <div class="fr-fieldset__element">
           <p class="fr-text--sm">Description — Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
           </div> -->
      <!-- TODO: remove or rewrite doc  -->
      <div class="fr-fieldset__element">
        <span class="fr-hint-text">
          <a href="/docs#filtrage-fiches">Voir la documentation des filtres</a>.
        </span>
      </div>
      <div class="fr-fieldset__element">
        <div class="fr-input-group">
          <label class="fr-label" for="filter-uuid">
            UUID
          </label>
          <input class="fr-input" type="text" id="filter-uuid" name="filter-uuid" />
        </div>
      </div>
      <div class="fr-fieldset__element">
        <div class="fr-select-group">
          <label class="fr-label" for="filter-template">
            Appliquer aux
          </label>
          <select class="fr-select" id="filter-template" name="filter-template">
            <option value="n" selected>métadonnées</option>
            <option value="y">modèles</option>
            <!-- TODO  -->
            <!-- <option value="all">modèles et métadonnées</option> -->
          </select>
        </div>
      </div>
      <div class="fr-fieldset__element">
        <div class="fr-select-group">
          <label class="fr-label" for="filter-source">
            Catalogue source
          </label>
          <select required class="fr-select" id="filter-source" name="filter-source">
            <option value="" selected>Tous les catalogues</option>
            {% for source in sources %}
              <option value="{{ source.id }}">{{ source.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="fr-fieldset__element">
        <div class="fr-select-group">
          <label class="fr-label" for="filter-type">
            Type de ressource
          </label>
          <select class="fr-select" id="filter-type" name="filter-type">
            <option value="" selected>Tous les types</option>
            <option value="dataset">Jeux de données</option>
            <option value="series">Séries de données</option>
          </select>
        </div>
      </div>
      <div class="fr-fieldset__element">
        <div class="fr-select-group">
          <label class="fr-label" for="filter-group">
            Groupe propriétaire
          </label>
          <select required class="fr-select" id="filter-group" name="filter-group">
            <option value="" selected >Tous les groupes</option>
            {% for group in groups %}
              <option value="{{ group.id }}">{{ group.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="fr-fieldset__element">
        <div class="fr-input-group">
          <label class="fr-label" for="filter-__extra__">
            Filtres supplémentaires
          </label>
          <span class="fr-hint-text">
            Liste de filtres <code>&lt;key>=&lt;value></code> séparés par des virgules.
            {% if version == 3 %}
              <a href="https://github.com/geonetwork/core-geonetwork/blob/3.10.4/web/src/main/webapp/WEB-INF/config-lucene.xml#L107">Voir la liste des filtres Geonetwork disponibles</a>.
              <br/>
              Exemple : <code>type=dataset,_isTemplate=n</code>.
            {% elif version == 4 %}
              <a href="https://github.com/geonetwork/core-geonetwork/blob/4.4.5/web/src/main/webResources/WEB-INF/data/config/index/records.json#L1568">Voir la liste des filtres Geonetwork disponibles</a>.
              <br/>
              Exemple : <code>resourceType=dataset,isTemplate=n</code>.
            {% endif %}
          </span>
          <input class="fr-input" type="text" id="filter-__extra__" name="filter-__extra__" />
        </div>
      </div>
      <div class="fr-fieldset__element">
        <div class="fr-mt-2w fr-grid-row">
          <button type="submit"
                  hx-post="{{ url_for("select_preview") }}"
                  hx-target="#select_preview"
                  hx-swap="innerHTML show:top"
                  class="fr-btn fr-btn--secondary fr-mr-1w">Prévisualiser la recherche</button>
        </div>
      </div>
    </fieldset>
    <fieldset class="fr-fieldset" id="transformation">
      <legend class="fr-fieldset__legend">
        Transformation à appliquer *
      </legend>
      <div class="fr-fieldset__element">
        <span class="fr-hint-text"><a href="/docs#transformations">
          Voir la documentation des transformations disponibles</a>.
        </span>
      </div>
      <div class="fr-fieldset__element">
        <div class="fr-select-group">
          <select hx-get="{{ url_for("select_transformation") }}"
                  hx-target="#select-form-transformation-params"
                  hx-trigger="change"
                  required
                  class="fr-select"
                  id="transformation"
                  name="transformation">
            <option value="" selected disabled hidden>Sélectionner une transformation</option>
            {% for transformation in transformations %}
              <option value="{{ transformation.name }}">{{ transformation.display_name }}</option>
            {% endfor %}
          </select>
        </div>
        <div id="select-form-transformation-params"></div>
      </div>
      <div class="fr-fieldset__element">
        <div class="fr-mt-2w fr-grid-row">
          <button type="submit" class="fr-btn">Suivant</button>
        </div>
      </div>
    </fieldset>
  </form>
  <div id="select_preview" class="fr-mt-4w"></div>
{% endblock content %}
