{% extends "base.html.j2" %}
{% block content %}
  <div class="fr-stepper fr-mt-4v">
    <h2 class="fr-stepper__title">
      Sélection des fiches à adapter
      <span class="fr-stepper__state">Étape 2 sur 4</span>
    </h2>
    <div class="fr-stepper__steps" data-fr-current-step="2" data-fr-steps="4"></div>
    <p class="fr-stepper__details">
      <span class="fr-text--bold">Étape suivante :</span> Transformation des fiches
    </p>
  </div>
  <form hx-validate="true" method="post" action="{{ url_for("transform") }}">
    {# TODO: add info about current connected catalog #}
    <div class="fr-input-group">
      <label class="fr-label" for="query">
        Requête de recherche (geonetwork {{version}}.x) *
        <span class="fr-hint-text">
        {% if version == 3 %}
        Exemple : type=dataset,_isTemplate=n,_source=&lt;SOURCE_ID&gt;
        {% elif version == 4 %}
        Exemple : resourceType=dataset,isTemplate=n,sourceCatalogue=&lt;SOURCE_ID&gt;
        {% endif %}
        <br/>
        <a href="/docs#filtrage-fiches">Voir la documentation des filtres</a>.
        </span>
      </label>
      <input required class="fr-input" type="text" id="query" name="query" />
      <div class="fr-mt-2w fr-grid-row">
        <button type="submit"
                hx-post="{{ url_for("select_preview") }}"
                hx-target="#select_preview"
                hx-swap="innerHTML show:top"
                class="fr-btn fr-btn--secondary fr-mr-1w">Prévisualiser la recherche</button>
      </div>
    </div>
    <div class="fr-select-group">
      <label class="fr-label" for="transformation">
        Transformation à appliquer *
        <span class="fr-hint-text"><a href="/docs#transformations">Voir la documentation des transformations disponibles</a>.</span>
      </label>
      <select hx-get="{{ url_for("select_transformation") }}"
              hx-target="#select-form-transformation-params"
              hx-trigger="change"
              required
              class="fr-select"
              id="transformation"
              name="transformation">
        <option value="" selected disabled hidden>Sélectionner une transformation</option>
        {% for transformation in transformations %}
          <option value="{{ transformation.name }}">{{ transformation.display_name }}</option>
        {% endfor %}
      </select>
    </div>
    <div id="select-form-transformation-params"></div>
    <div class="fr-mt-2w fr-grid-row">
      <button type="submit" class="fr-btn">Suivant</button>
    </div>
  </form>
  <div id="select_preview" class="fr-mt-4w"></div>
{% endblock content %}
