{% if is_create_mode %}
<div class="fr-select-group fr-mb-2w">
  <label class="fr-label" for="mode">Groupe de rattachement des fiches créées *</label>
  <select required class="fr-select" id="group" name="group">
    <option value="" selected disabled hidden>Sélectionner un groupe</option>
    {% for group in groups %}
    <option value="{{ group.id }}">{{ group.name }}</option>
    {% endfor %}
  </select>
</div>
{% endif %}
