{% set status = job.get_status(refresh=True) %}
{% set results = job.result %}
{% if status in ["queued", "started"] %}
  <div hx-get="{{ url_for('migrate_job_status', job_id=job.id) }}"
       hx-trigger="load delay:1s"
       hx-swap="outerHTML">{{ now }} — le job est en cours de traitement ({{ status }}).</div>
{% elif status == "finished" %}
  <p>Job terminé.</p>
  <p>
    Mode de mise à jour du catalogue :
    {% if job.result.mode == MigrateMode.CREATE %}
      création de nouvelles fiches
    {% else %}
      mise à jour des fiches existantes
    {% endif %}
    .
  </p>

  <form class="fr-mt-2w" id="main-form">
    {# TODO: factor w/ transform? #}
    <div id="results-preview" class="fr-mt-4w">
      <p>
        Les enregistrements ci-dessous sont listés dans l'ordre de traitement, du plus ancien au plus récent.
      </p>
      <fieldset class="fr-fieldset" id="status-filter-set"
                aria-labelledby="status-filter-legend status-filter-messages"
                hx-get="{{ url_for("migrate_results_preview", job_id=job.id) }}"
                hx-target="#results-preview-table"
                hx-trigger="load, change"
                hx-include="#main-form"
                hx-swap="innerHTML">
        {% for ihash, records in results | groupby("ihash") | sort %}
          <div class="fr-fieldset__element fr-fieldset__element--inline fr-mr-2w">
            <div class="fr-checkbox-group">
              <input type="checkbox" name="status" id="status-filter-{{ loop.index }}"
                     value="{{ ihash }}" checked
                     aria-describedby="status-filter-messages-{{ loop.index }}">
              <label class="fr-label" for="status-filter-{{ loop.index }}">
                {{ results.status_info(ihash).legend }} <p class="fr-tag fr-tag--sm fr-ml-1w">{{ records | length }}</p>
              </label>
              <div class="fr-messages-group" id="status-filter-messages-{{ loop.index }}" aria-live="assertive">
              </div>
            </div>
          </div>
        {% endfor %}
        <div class="fr-messages-group" id="status-filter-messages" aria-live="assertive"></div>
      </fieldset>
    </div>
  </form>
  <div id="results-preview-table">
    {% include "fragments/migrate_results_preview.html.j2" %}
  </div>
{% elif status == "failed" %}
  Le job est en erreur :-/
  <pre>{{ job.exc_info }}</pre>
{% else %}
  Statut inconnu : {{ status }}
{% endif %}
