{% set params = transformation.params %}
{% if params %}
<fieldset>
<legend><strong>Paramètres</strong></legend>
{% for param in params %}
<div class="fr-input-group">
  <label class="fr-label" for="query">{{ param.name }} {% if param.required %} *{% endif %}</label>
  <input {% if param.required %}required{% endif %} class="fr-input" type="text" id="param-{{ param.name }}" name="param-{{ param.name }}" value="{{ param.default_value }}" />
</div>
{% endfor %}
</fieldset>
{% endif %}
