{% set status = job.get_status(refresh=True) %}
{% if status in ["queued", "started"] %}
  <div hx-get="{{ url_for('transform_job_status', job_id=job.id) }}"
       hx-trigger="load delay:1s"
       hx-swap="outerHTML">{{ now }} — le job est en cours de traitement ({{ status }}).</div>
{% elif status == "finished" %}
  {# TODO: add normalized info about current connected catalog #}
  <p>Job terminé.</p>

  <p>Les enregistrements sont listés dans l'ordre de traitement, du plus ancien au plus récent.</p>

  <form id="status-filter-form">
    <fieldset class="fr-fieldset" id="status-filter-set"
              aria-labelledby="status-filter-legend status-filter-messages"
              hx-get="{{ url_for("transform_results_preview", job_id=job.id) }}"
              hx-target="#transform-results-preview"
              hx-trigger="load, change"
              hx-include="#status-filter-form"
              hx-swap="innerHTML">
    <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="status-filter-legend">
      Afficher :
    </legend>
    <div class="fr-fieldset__element fr-fieldset__element--inline">
      <div class="fr-checkbox-group">
        <input type="checkbox" name="status-filter" id="status-filter-error" value="error" checked
               aria-describedby="status-filter-error-messages">
        <label class="fr-label" for="status-filter-error"> 🔴 Erreur </label>
        <div class="fr-messages-group" id="status-filter-error-messages" aria-live="assertive">
        </div>
      </div>
    </div>
    <div class="fr-fieldset__element fr-fieldset__element--inline">
      <div class="fr-checkbox-group">
        <input type="checkbox" name="status-filter" id="status-filter-apply-check" value="apply-check" checked
               aria-describedby="status-filter-apply-check-messages">
        <label class="fr-label" for="status-filter-apply-check"> 🟠 À vérifier (modifié) </label>
        <div class="fr-messages-group" id="status-filter-apply-check-messages" aria-live="assertive">
        </div>
      </div>
    </div>
    <div class="fr-fieldset__element fr-fieldset__element--inline">
      <div class="fr-checkbox-group">
        <input type="checkbox" name="status-filter" id="status-filter-ignore-check" value="ignore-check" checked
               aria-describedby="status-filter-ignore-check-messages">
        <label class="fr-label" for="status-filter-ignore-check"> 🟡 À vérifier (ignoré) </label>
        <div class="fr-messages-group" id="status-filter-ignore-check-messages" aria-live="assertive">
        </div>
      </div>
    </div>
    <div class="fr-fieldset__element fr-fieldset__element--inline">
      <div class="fr-checkbox-group">
        <input type="checkbox" name="status-filter" id="status-filter-apply" value="apply" checked
               aria-describedby="status-filter-apply-messages">
        <label class="fr-label" for="status-filter-apply"> 🟢 Modifié </label>
        <div class="fr-messages-group" id="status-filter-apply-messages" aria-live="assertive">
        </div>
      </div>
    </div>
    <div class="fr-fieldset__element fr-fieldset__element--inline">
      <div class="fr-checkbox-group">
        <input type="checkbox" name="status-filter" id="status-filter-ignore" value="ignore" checked
               aria-describedby="status-filter-ignore-messages">
        <label class="fr-label" for="status-filter-ignore"> ⚪️ Ignoré </label>
        <div class="fr-messages-group" id="status-filter-ignore-messages" aria-live="assertive">
        </div>
      </div>
    </div>
    <div class="fr-messages-group" id="status-filter-messages" aria-live="assertive"></div>
    </fieldset>
  </form>

  <div id="transform-results-preview" class="fr-mt-4w">
    {% include "fragments/transform_results_preview.html.j2" %}
  </div>

  <p>
    Vous pouvez désormais mettre à jour le catalogue {{ url }}.
    Seules les transformations réussies seront appliquées.
  </p>
  <form action="{{ url_for('migrate', job_id=job.id) }}"
        method="post"
        class="fr-mt-2w">
    <div class="fr-select-group">
      <label class="fr-label" for="mode">Mode de mise à jour *</label>
      <select hx-get="{{ url_for('migrate_update_mode') }}" hx-target="#migrate-form-group-field" hx-trigger="change" required class="fr-select" id="mode" name="mode">
        <option value="" selected disabled hidden>Sélectionner un mode</option>
        <option value="{{ MigrateMode.CREATE.value }}">Création de nouvelles fiches (GENERATEUUID)</option>
        <option value="{{ MigrateMode.OVERWRITE.value }}">Mise à jour des fiches existantes (OVERWRITE)</option>
      </select>
    </div>
    <div id="migrate-form-group-field"></div>
    <button type="submit" class="fr-btn">Suivant</button>
  </form>
{% elif status == "failed" %}
  Le job est en erreur :-/
  <pre>{{ job.exc_info }}</pre>
{% else %}
  Statut inconnu : {{ status }}
{% endif %}
