{% set status = job.get_status(refresh=True) %}
{% set results = job.result %}
{% if status in ["queued", "started"] %}
  <div hx-get="{{ url_for('transform_job_status', job_id=job.id) }}"
       hx-trigger="load delay:1s"
       hx-swap="outerHTML">{{ now }} — le job est en cours de traitement ({{ status }}).</div>
{% elif status == "finished" %}
  {# TODO: add normalized info about current connected catalog #}
  <p>Job terminé.</p>
  <p>
    Vous pouvez désormais :
    <ol>
      <li>Contrôler le résultat du traitement.</li>
      <li>Mettre à jour le catalogue en sélectionnant le mode de mise à jour souhaité.</li>
    </ol>

    Seuls les enregistrements modifiés et sélectionnés dans la table ci-dessous seront mis à jour sur le catalogue ({{ url }}).
  </p>

  <form method="post" action="{{ url_for('migrate', job_id=job.id) }}"
        class="fr-mt-2w" id="main-form">

    <fieldset class="fr-fieldset" id="migrate-mode">
      <div class="fr-fieldset__element">
        <div class="fr-select-group">
          <label class="fr-label" for="mode">Mode de mise à jour *</label>
          <select hx-get="{{ url_for('migrate_update_mode') }}"
                  hx-target="#migrate-form-group-field"
                  hx-trigger="change"
                  required class="fr-select" id="mode" name="mode">
            <option value="" selected disabled hidden>Sélectionner un mode</option>
            <option value="{{ MigrateMode.CREATE.value }}">Création de nouvelles fiches (GENERATEUUID)</option>
            <option value="{{ MigrateMode.OVERWRITE.value }}">Mise à jour des fiches existantes (OVERWRITE)</option>
          </select>
        </div>
        <div id="migrate-form-group-field"></div>
      </div>
    </fieldset>

    <div class="fr-mt-2w fr-grid-row">
      <button type="submit" class="fr-btn">Suivant</button>
    </div>

    <div id="results-preview" class="fr-mt-4w">
      <p>
        Les enregistrements ci-dessous sont listés dans l'ordre de traitement, du plus ancien au plus récent.
      </p>
      <fieldset class="fr-fieldset" id="status-filter-set"
                aria-labelledby="status-filter-legend status-filter-messages"
                hx-get="{{ url_for("transform_results_preview", job_id=job.id) }}"
                hx-target="#results-preview-table"
                hx-trigger="load, change"
                hx-include="#main-form"
                hx-swap="innerHTML">
        {% for _, records in results | groupby("status") | sort %}
          <div class="fr-fieldset__element fr-fieldset__element--inline fr-mr-2w">
            <div class="fr-checkbox-group">
              <input type="checkbox" name="status" id="status-filter-{{ loop.index }}"
                     value="{{ records[0].status }}" checked
                     aria-describedby="status-filter-messages-{{ loop.index }}">
              <label class="fr-label" for="status-filter-{{ loop.index }}">
                {{ records[0].status_legend }} <p class="fr-tag fr-tag--sm fr-ml-1w">{{ records | length }}</p>
              </label>
              <div class="fr-messages-group" id="status-filter-messages-{{ loop.index }}" aria-live="assertive">
              </div>
            </div>
          </div>
        {% endfor %}
        <div class="fr-messages-group" id="status-filter-messages" aria-live="assertive"></div>
      </fieldset>
    </div>
  </form>
  <div id="results-preview-table">
    {% include "fragments/transform_results_preview.html.j2" %}
  </div>
{% elif status == "failed" %}
  Le job est en erreur :-/
  <pre>{{ job.exc_info }}</pre>
{% else %}
  Statut inconnu : {{ status }}
{% endif %}
