fieldset {
  border-style: solid;
  border-width: 1px;
}

.markdown ul + h1,
.markdown ul + h2,
.markdown ul + h3,
.markdown ul + h4,
.markdown ul + h5,
.markdown ul + h6 {
  margin-top: 0.7em;
}

.markdown table th,
.markdown table td {
  padding: 0.5em 0.7em;
  word-break: keep-all;
}
