fieldset {
  border-style: solid;
  border-width: 1px;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-top: 1em;
}

.markdown p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.markdown blockquote {
  border-left: 4px solid silver;
  margin: 0;
  padding-left: 0.5em;
  font-style: italic;
}

.spinner-indicator {
  margin-left: 0.5em;
  display:none;
}
.htmx-request .spinner-indicator {
  display:inline;
}
.htmx-request.spinner-indicator {
  display:inline;
}
