<pre>
{% if results|length > 0 -%}
  {{ results|length }} résultat(s)
  <ul>
  {%- for result in results -%}
    <li>{{ result.uuid }} [{{ "T" if result.template else "R"}}] [{{ result.status if result.status else "-"}}]: {{ result.title }}</li>
  {%- endfor -%}
  </ul>
{% else -%}
  <em>Pas de résultats</em>
{% endif %}
</pre>
