{% set status = job.get_status(refresh=True) %}
{% if status in ["queued", "started"] %}
  <div hx-get="{{ url_for('transform_job_status', job_id=job.id) }}"
       hx-trigger="load delay:1s"
       hx-swap="outerHTML">{{ now }} — le job est en cours de traitement ({{ status }}).</div>
{% elif status == "finished" %}
  <p>Job terminé.</p>
  <p>Vous pouvez <a href="{{ url_for('transform_download_result', job_id=job.id) }}">télécharger le résultat</a>
  et appliquer vous-mêmes les modifications sur votre catalogue en important le fichier.</p>
  <p>Vous pouvez également utiliser le formulaire ci-dessous pour appliquer les modifications automatiquement
  sur le catalogue {{ url }}. Pour ce faire, nous avons besoin d'identifiants privilégiés sur votre catalogue.
  Ces identifiants sont transmis de manière sécurisée et nous ne les stockons pas.</p>
  <form action="{{ url_for('migrate', job_id=job.id) }}" method="post" class="fr-mt-2w">
    <div class="fr-select-group">
      <label class="fr-label" for="mode">Mode de mise à jour *</label>
      <select required class="fr-select" id="mode" name="mode">
        <option value="" selected disabled hidden>Sélectionner un mode</option>
        <option value="create">Création de nouvelles fiches (GENERATEUUID)</option>
        <option value="overwrite">Mise à jour des fiches existantes (OVERWRITE)</option>
      </select>
    </div>
    <div class="fr-input-group">
      <label class="fr-label" for="group">Identifiant du groupe de rattachement</label>
      <input class="fr-input" type="text" id="group" name="group" />
    </div>
    <button type="submit" class="fr-btn">Suivant</button>
  </form>
{% elif status == "failed" %}
  Le job est en erreur :-/
  <pre>{{ job.exc_info }}</pre>
{% else %}
  Statut inconnu : {{ status }}
{% endif %}
