{% set status = job.get_status(refresh=True) %}
{% if status in ["queued", "started"] %}
  <div hx-get="{{ url_for('transform_job_status', job_id=job.id) }}"
       hx-trigger="load delay:1s"
       hx-swap="outerHTML">{{ now }} — le job est en cours de traitement ({{ status }}).</div>
{% elif status == "finished" %}
  <p>Job terminé.</p>
  <p>Vous pouvez <a href="{{ url_for('transform_download_result', job_id=job.id) }}">télécharger le résultat</a>
  et appliquer vous-mêmes les modifications sur votre catalogue en important le fichier.</p>
  <p>Vous pouvez également utiliser le formulaire ci-dessous pour appliquer les modifications automatiquement
  sur le catalogue {{ url }}. Pour ce faire, nous avons besoin d'identifiants privilégiés sur votre catalogue.
  Ces identifiants sont transmis de manière sécurisée et nous ne les stockons pas.</p>
  <form action="{{ url_for('migrate', job_id=job.id) }}" method="post" class="fr-mt-2w">
    <div class="fr-input-group">
      <label class="fr-label" for="query">Identifiant sur le catalogue *</label>
      <input required class="fr-input" type="text" id="username" name="username" />
    </div>
    <div class="fr-input-group">
      <label class="fr-label" for="query">Mot de passe sur le catalogue *</label>
      <input required class="fr-input" type="password" id="password" name="password" />
    </div>
    <button type="submit" class="fr-btn">Suivant</button>
  </form>
{% elif status == "failed" %}
  Le job est en erreur :-/
  <pre>{{ job.exc_info }}</pre>
{% else %}
  Statut inconnu : {{ status }}
{% endif %}
